* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #00ACEE;
    --twitter-background: #FFFFFF;
}

.sidebaroption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebaroption .material-icons, .fa-twitter {
    padding: 20px;
}

.sidebaroption .h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebaroption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out ;
}
